body {
    background-image: url(../img/fondo-xbox.jpg)
}

header {
    background-color: rgb(0, 126, 0);
}

header:hover {
    background-color: rgb(187, 168, 24);
    cursor: pointer;
    transition: .2s ease-in;
}

.menu-superior li:hover {
    color: black;
}

.menu-superior ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.menu-superior li {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

footer {
    color: white;
    margin-top: 50px;
}

@media (max-width: 575px) {
    .menu-superior ul {
        text-align: center;
        display: block;
    }
}

@media (max-width: 575px) {
    aside {
        visibility: hidden;
    }
}

.icon {
    margin-left: 10px;
}

.search {
    background-image: url(../img/banner-xbox.jpg);
    background-size: contain;
    padding: 30px;
    color: white;
}

label {
    background-color: black;
}

.collapse ul {
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

main aside img {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

main aside {
    margin-top: 50px;
    margin-right: 50px;
    text-align: center;

}

.slide {
    max-height: 100%;
    max-width: 100%;
    margin-left: 100px;
}




.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row p {
    margin-top: 30px;
    text-align: center;
}